<p id="notice"><%= notice %></p>
<nav>
  Admin View |
  <%= link_to 'Flights', flights_path %> |
  <%= link_to 'New Plane', airplanes_path %>

</nav>
<br>

<%= render 'form' %>

<hr>
<h3>Backbone Flight Schedule</h3>

<table id="app-flights"></table>

<script type="underscore/template" id="display-flight-heading-template">
  <tr>
    <th>Date</th>
    <th>Flight</th>
    <th>From > To</th>
    <th>Plane</th>
    <th>Capacity</th>
    <th>Remaning</th>
  </tr>
</script>

<script type="underscore/template" id="display-flight-view-template">
  <td><%%= date %></td>
  <td><%%= number %></td>
  <td><%%= origin %> to <%%= destination %></td>
  <td><%%= airplane.name %></td>
  <td><%%= capacity %></td>
  <td><%%= remaining %></td>
</script>
