<p id="notice"><%= notice %></p>
<nav>
  Admin View |
  <%= link_to 'Flights', flights_path %> |
  <%= link_to 'New Plane', airplanes_path %>
</nav>
<br>
<%= render 'form' %>

<hr>

<div id = "plane_name"> </div>

<div id="holder">
  <ul id="place">

  </ul>
</div>
