<p id="notice"><%= notice %></p>
<nav>
  Admin View |
  <%= link_to 'Flights', flights_path %> |
  <%= link_to 'New Plane', airplanes_path %>
</nav>
<br>
<%= render 'form' %>

<hr>

<p style="color:red"><em>Placeholder of plane goes here when user clicks save button it should display the grid system of the plane</em></p>


<div id="holder">
  <ul id="place">
    
  </ul>
</div>
